@import './../../../app.component.scss';

#link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.card{
  margin-top: 15px;
}
