<div *ngIf="showLoader">
  <app-spinner></app-spinner>
</div>
<div class="card" *ngIf="!showLoader">
  <p-table responsiveLayout="scroll" *ngIf="books$ | async as booksData" [value]="booksData" [paginator]="true"
    [rows]="5" [showCurrentPageReport]="true" responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="caption">
      {{ title }}
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col" *ngIf="!hideActions">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book let-columns="columns">
      <tr>
        <td colspan="5" class="alert alert-danger" *ngIf="error$ | async as error">{{error}}</td>
      </tr>
      <tr>
        <td id="link" [class.disabled]="disableRouter()" [routerLink]="['details', book?.id]">{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td id="link" [class.disabled]="disableRouter()" *ngFor="let author of book.author">
          <span [routerLink]="['author', author?.id]">{{ author.name }}</span>
        </td>
        <td *ngIf="!hideActions">
          <button pButton type="button" label="Delete" (click)=deleteBook(book) class="p-button-danger"></button>
          <app-confirmation-dialog></app-confirmation-dialog>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>