@import './../../app.component.scss';

#home-container {
  .content {
    text-align: center;
    position: relative;
    margin-top: 10%;
    .text-content{
        font-size: $home-text-font-size;
        font-weight: $font-weight-medium;
        line-height: 1;
        text-transform: none;
        color: $black-color;
    }
  }
}
