@import "./../../../app.component.scss";

$label-text-font-size: 27px;

.details-content {
  text-align: center;
  .label-text {
    font-weight: $font-weight-bold;
  }
  .data-content {
    font-size: $label-text-font-size;
  }
}
