@import "./../../../app.component.scss";

form {
  width: max-content;
  margin: 0 auto;
  padding: 15px;
  .input-content {
    padding: 10px;
    .p-inputgroup {
      margin-top: 10px;
    }
    .validation-text {
      color: $validation-color;
    }
  }
  button {
    margin-top: 15px;
  }
}
